body {
    text-align: center;
}

header {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -25px;
    color: red;
}

.score-title {
    width: 10%;
}

.score {
    width: 10%;
    padding-top: 5px;
}

.lives-title {
    width: 10%;
}

.lives {
    width: 10%;
    padding-top: 5px;
}

.lives ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
}


.mini-player img{
    height: 70px;
    margin-top: -100px

}