body {
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -25px;
    color: red;
}

.score-title {
    width: 10%;
}

.score {
    width: 10%;
    padding-top: 5px;
}