body {
    text-align: center;
    margin: 0 100px 0 100px;
}

header h1 {
    width: 100%;
    padding-top: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: red;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(255,48,48,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,48,48,1);
    box-shadow: 10px 10px 5px 0px rgba(255,48,48,1);

}

panel {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: -80px;
    color: red;
}

.score-title {
    width: 10%;
}

.score {
    width: 10%;
    padding-top: 5px;
}

.lives-title {
    width: 10%;
}

.lives {
    width: 10%;
    padding-top: 5px;
}

.lives ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
}


.mini-player img{
    height: 70px;
    margin-top: -100px

}